<a href="https://colab.research.google.com/github/EBNyame/ML/blob/main/ML_Tutor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
data = {
    "Name": ["Eve", "Frank", "Grace", "Hank"],
    "Age": [22, 28, 35, 40],
    "Score": [88, 92, 79, 85]
}
df = pd.DataFrame(data)
print(df)

    Name  Age  Score
0    Eve   22     88
1  Frank   28     92
2  Grace   35     79
3   Hank   40     85

In [4]:
print(df.head())

    Name  Age  Score
0    Eve   22     88
1  Frank   28     92
2  Grace   35     79
3   Hank   40     85

# **Mini Challenge**

**Use the sample DataFrame:**



```
data = {
    "Name": ["Eve", "Frank", "Grace", "Hank"],
    "Age": [22, 28, 35, 40],
    "Score": [88, 92, 79, 85]
}
df = pd.DataFrame(data)
```




* Print only the "Age" column.

* Print the first 2 rows.

* Print the average of the "Score" column.

# **Solution**

In [5]:
print(df["Age"])

0    22
1    28
2    35
3    40
Name: Age, dtype: int64

In [8]:
print(df["Age"].iloc[0:2])

0    22
1    28
Name: Age, dtype: int64

In [7]:
print(df["Score"].mean())

86.0